<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t ".members" %></h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-toggle="modal" data-target="#InviteModal">
        <%= t ".invite" %>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding">
    <ul class="users-list clearfix" id="member_list">
      <% $current_room.join_rooms.each do |join| %>
        <li id="members_<%=join.user.id%>">
          <%= image_tag join.user.avatar||"" %>
          <span class="users-list-name"><%= join.user.name %></span>
          <span id="admin_<%= join.user.id %>">
          <% if $current_room.administrators.include?(join.user) %>
            Admin
          <% elsif $current_room.administrators.include?(@current_user) %>
            <button class='delete-btn btn-danger' value='<%=join.user.id%>'>Delete</button>
            <button class='admin-btn btn-warning' value='<%=join.user.id%>'>Admin</button>
          <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
